<!DOCTYPE HTML>
<html>
<head>

    <link rel="stylesheet" href="/static/css/style.css" />
	 <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>Yelp Example</title>	
	<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
    <script type="text/javascript" src="http://oauth.googlecode.com/svn/code/javascript/sha1.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBIc9yL06XFyLjVJsuqsENTscR-PCDPuPM&libraries=places"></script>
	<script type="text/javascript">
	var directionsDisplay;
	var directionsService;
	var map;
	var stepDisplay;
	var markerArray = [];
	var latLongList = {};


	function initialize() {
	  directionsService = new google.maps.DirectionsService();

	  var manhattan = new google.maps.LatLng(40.7711329, -73.9741874);
	  var mapOptions = {
		zoom: 13,
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		center: manhattan
	  }
	  map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
		
	var startBox = new google.maps.places.SearchBox(document.getElementById('start'));
	var endBox = new google.maps.places.SearchBox(document.getElementById('end'));
	  // Create a renderer for directions and bind it to the map.
	  var rendererOptions = {
		map: map
	  }
	  directionsDisplay = new google.maps.DirectionsRenderer(rendererOptions)

  		stepDisplay = new google.maps.InfoWindow();
	
		calcRoute();
	}
	function calcRoute() {	
	  // First, remove any existing markers from the map.
	  for (var i = 0; i < markerArray.length; i++) {
		markerArray[i].setMap(null);
	  }
	  // Now, clear the array itself.
	  markerArray = [];

	  // Retrieve the start and end locations and create
	  // a DirectionsRequest using WALKING directions.
	  var start = document.getElementById('start').value;
	  var end = document.getElementById('end').value;
	  var request = {
		  origin: start,
		  destination: end,
		  travelMode: google.maps.TravelMode.WALKING
	  };

	  // Route the directions and pass the response to a
	  // function to create markers for each step.
	  directionsService.route(request, function(response, status) {
		if (status == google.maps.DirectionsStatus.OK) {
		  directionsDisplay.setDirections(response);
		  showSteps(response);
		}
	  });
	}
	function showSteps(directionResult) {
		// For each step, place a marker, and add the text to the marker's
		// info window. Also attach the marker to an array so we
		// can keep track of it and remove it when calculating new
		// routes.
		var myRoute = directionResult.routes[0].overview_path;
		var results = {};
 		var auth = {
            consumerKey : "YWd7L4J9Kr58DxB_hrAoLQ",
            consumerSecret : "tJnqBDkHiPw1G37mGU70m_IF2Pw",
            accessToken : "BMxTvqTXyxNeQ7urVzruvx-Ucs2iOMK-",
            accessTokenSecret : "9FdDRt8w98g-I0QPKP5pnQV--AI",
            serviceProvider : {
                signatureMethod : "HMAC-SHA1"
            }
        };

        var terms = 'food';

        var accessor = {
            consumerSecret : auth.consumerSecret,
            tokenSecret : auth.accessTokenSecret
        };
        parameters = [];
        parameters.push(['term', terms]);
		parameters.push(['radius_filter', 1609.34*document.getElementById('radius').value]);
        parameters.push(['ll', '1']);
		var loc = parameters.length -1;
        parameters.push(['callback', 'cb']);
		parameters.push(['category_filter', 'food']);
		parameters.push(['sort', 2]);
        parameters.push(['oauth_consumer_key', auth.consumerKey]);
        parameters.push(['oauth_consumer_secret', auth.consumerSecret]);
        parameters.push(['oauth_token', auth.accessToken]);
        parameters.push(['oauth_signature_method', 'HMAC-SHA1']);

		for (var i = 0; i < 3; i++) {
			parameters[loc] = ['ll', myRoute[i].lat() + ',' + myRoute[i].lng()];
			var message = {
                'action' : 'http://api.yelp.com/v2/search',
                'method' : 'GET',
                'parameters' : parameters
            };
			
            OAuth.setTimestampAndNonce(message);
            OAuth.SignatureMethod.sign(message, accessor);
			
            var parameterMap = OAuth.getParameterMap(message.parameters);
	
			$.ajax({
                'url' : message.action,
                'data' : parameterMap,
                'dataType' : 'jsonp',
                'jsonpCallback' : 'cb',
                'success' : function(data, textStats, XMLHttpRequest) {
					var len = data.businesses.length;
					(function myLoop (i, j, data) {
						setTimeout(function () {							
							results[j] = [
							data.businesses[j].name, 
							data.businesses[j].display_phone, 
							data.businesses[j].image_url, 
							data.businesses[j].url, 
							data.businesses[j].rating, 
							data.businesses[j].review_count]; 
							geocodeAddress(
								data.businesses[j].location.display_address[0]+
								', ' + 
								data.businesses[j].location.city + 
								', ' + 
								data.businesses[j].location.state_code, 
								function(res) {						
									var marker = new google.maps.Marker({
										position: res,
										map: map
									});
									
									attachInstructionText(marker, results[j][0] + "<br>" + results[j][1] + "<br>" + results[j][5]);
									markerArray[j] = marker;
								});
							
							if(--i) myLoop(i, ++j, data);
						}, 200)
					})(len, 0, data);

                }
            });
		}
	}

	function cb() {}


	function geocodeAddress(address, callback) {
		$.ajax({
			type: "POST",
			url: "/getGeocode",
			data: JSON.stringify(address, null, '\t'),
			contentType: 'application/json;charset=UTF-8',
			success: function(response) {
				var jsonResponse = JSON.parse(response);
				
				var latlng = new google.maps.LatLng(jsonResponse.results[0].geometry.location.lat, jsonResponse.results[0].geometry.location.lng);
				callback(latlng);
			}
		});
	}
				

	function attachInstructionText(marker, text) {
	  google.maps.event.addListener(marker, 'trigger', function() {
		stepDisplay.setContent(text);
		stepDisplay.open(map, marker);
	  });
	}

	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
	
</head>
<body>
    {% block content %}{% endblock %}
  <script type="text/javascript" src="/static/js/main.js"></script>
</body>

</html>
